
// Base Color
$base-color: #4F614D;

// Layout Colors
$dark: #2E3741;
$dark-1: #35404C;
$dark-2: #5B6B7C;
$dark-3: #91A3B0;
$lite: #FFFEFA;
$lite-1: #E2EAF0;
$lite-2: #EFF4F8;
$white: #FFFFFF;
$black: #23353C;