html{
  position: relative;
  min-height: 100%;
}

body{
  background: $lite;
  margin-bottom: 31px;

  .wrapper{

    .header{
      margin-bottom: 56px;

      .navbar{
        padding: 16px;

        .navbar-nav{

          .nav-item{

            .nav-link{
              padding: 8px;
              text-transform: uppercase;
            }
          }
        }
      }
    }

    .main{

    }
  }

  .footer{
    padding: 8px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 31px;
    line-height: 31px;
  }
}

.m-b{
  margin-bottom: 24px;
}